//Colours
$deep-blue-1: #002db3;
$deep-blue-2: #0033cc;
$color-bluer: #0000b3;
$deep-blue-3: #a4b2db;

$color-grey-light-1: #f7f7f7; 
$color-grey-light-2: #eee;
$color-grey-dark2: #999;
$color-grey-dark-3: #333;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-black-1: #191912;

$color-red: red;

//Grid
$grid-width: 114rem;
$gutter-vertical: 1rem;
$gutter-horizontal: 6rem; 
