.section-cards{
    background-color: $color-grey-light-1;
    margin: 0 2rem;
    min-height: 80vh;
}
footer{
    background-color: $color-black-1;
    padding: 2rem 0; 
    margin: 0 2rem;
    opacity: .5; 
    position: relative;
}


